<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/firebase-init.js"></script>

</head>
<body>
    <li><a href="#" onclick="logout()">LOGOUT</a></li>
    <script src="../static/js/script.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.18.0/firebase-compat.js"></script>
    <script src="../static/js/firebase-init.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/logout.js"></script>
    <script src="../static/js/auth_guard.js"></script>
</body>
</html>