<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="lista_liks_header">
            <a href="">Todos os produtos</a>
            <a href="">Feminino</a>
            <a href="">Masculino</a>
            <a href="">Ofertas</a>
            <a href="">Sobre</a>
            <a href="">Politicas da loja</a>
            <a href="">mais</a>
        </div>
        <div class="redes_sociais">
            <img class="logo_face" src="" alt="">
            <img class="logo_insta" alt="">
            <img class="logo_pinterest" src="" alt="">
        </div>
        <div class="usuario_barrinha">
            <img src="" class="sininho" alt="">
        </div>
        
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>