<!DOCTYPE html>
<html lang="en">
<head>
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@600&display=swap');
</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/paginajogo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>

        


        <div class="lista_liks_header">
            <a class="links_header" href="/">Todos os jogos</a>
            <a class="links_header" href="">Jogos Feminino</a>
            <a class="links_header" href="">Jogos Masculino</a>
            <a class="links_header" href="">Sobre</a>
            <a class="links_header" href="">Politicas do site</a>
            <a class="links_header"" href="#" onclick="logout()">LOGOUT</a>
            <a class="links_header" href="">mais</a>
        </div>
        <div class="redes_sociais">
            <a class="imagem_link" href="https:\\www.facebook.com">
                <img class="logo_face" src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_120,h_120,lg_1/23fd2a2be53141ed810f4d3dcdcd01fa.png" alt="">
            </a>
            <a class="imagem_link" href="https:\\www.instagram.com">
                <img class="logo_insta" src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_120,h_120,lg_1/81af6121f84c41a5b4391d7d37fce12a.png" alt="">
            </a>
            
            <a class="imagem_link" href="https:\\www.pinterest.com">
                <img class="logo_pinterest" src="https://static.wixstatic.com/media/9c486556465843c5850fabfd68dfae49.png/v1/fill/w_120,h_120,lg_1/9c486556465843c5850fabfd68dfae49.png" alt="">
            </a>
            
        </div>
        <div class="usuario_barrinha">
            <img src="" class="sininho" alt="">
            <p>{{username}}</p>
            <div class="seta_pra_baixo">
                <img src="" alt="">
            </div>
            <div class="sacola">
                <img src="" alt="">
            </div>
        </div>
    </header>
    <main>
        <section class="top">
            <img class="imagem_aguia" src="../static/images/imagem_aguia_branca.png" alt="">
        </section>
        <section class="section01">
            <img class="santosvsredbullimage" src="../static/images/imagem_santos_vs_redbul.png" alt="">
        </section>
        <section class="section02">
            <div class="retangulo_escolha">
                <h1>Escolha suas apostas no jogo entre Santos x RedBull Bragantino</h1>
            </div>
            <div class="a">
                <div class="branco campeonato">
                    <p>Campeonato Brasileiro</p>
                    <div class="resultado_final">
                        <div class="resultado_final_title">
                            <h2>Resultado Final</h2>
                        </div>
                        <div class="area_jogo">
                            <p>Santos x RB Bragantino</p>
                            <div class="botoes">
                                <form action="/enviar" method="post">
                                    <input style="display:none;" name = "bt" type="text" value="Santos" id="Santos">
                                     <input   type = "submit" class="btn_santos" value="Santos">
                                </form>
                                <form action="/enviar" method="post">
                                    <input style="display:none;" name = "bt" type="text" value="Empate" id="Empate">
                                     <input   type = "submit" class="btn_empate" value="Empate">
                                </form>
                                <form action="/enviar" method="post">
                                    <input style="display:none;" name = "bt" type="text" value="RBBragantino" id="RBBragantino">
                                     <input   type = "submit" class="btn_rb_bragantino" value="RBBragantino">
                                </form>                                                       
                            </div>
                        </div>
                    </div>
                    <div class="placar">
                        <div class="Placar_do_jogo">
                            <h2>Placar do jogo</h2>
                        </div>
                        <div class="area_jogo">
                            <p>Santos x RB Bragantino</p>
                            <div class="botoes">
                                <form action="/enviar" method="post">
                                    <input style="display:none;" name = "bt" type="text" value="Santos" id="Santos">
                                     <input   type = "submit" class="btn_santos" value="Santos">
                                </form>
                                <form action="/enviar" method="post">
                                    <input style="display:none;" name = "bt" type="text" value="Empate" id="Empate">
                                     <input   type = "submit" class="btn_empate" value="Empate">
                                </form>
                                <form action="/enviar" method="post">
                                    <input style="display:none;" name = "bt" type="text" value="RBBragantino" id="RBBragantino">
                                     <input   type = "submit" class="btn_rb_bragantino" value="RBBragantino">
                                </form>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="black_area">
            <img class="imagem_aguia_footer" src="../static/images/black_aguia.png" alt="">
        </div>
        <div class="white_area">
            <img src="../static/images/Screenshot 2023-05-07 030404.png" alt="">
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.18.0/firebase-compat.js"></script>
    <script src="../static/js/firebase-init.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/logout.js"></script>
    <script src="../static/js/auth_guard.js"></script>

    <script>
         const buttons = document.querySelectorAll('button');

buttons.forEach(button => {
  button.addEventListener('click', function() {
    const voto = button.value;

    fetch('/palpite_confirmado', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ voto: voto })
    })
    .then(response => response.json())
    .then(data => {
      console.log('Voto enviado com sucesso:', data);
      // Lógica adicional ou feedback para o usuário
    })
    .catch(error => {
      console.error('Erro ao enviar voto:', error);
      // Lógica adicional ou feedback para o usuário
    });
  });
});

function blockButtons() {
    var btnSantos = document.getElementById("btn_santos");
    var btnEmpate = document.getElementById("btn_empate");
    var btnRB = document.getElementById("btn_rb_bragantino");

    btnSantos.disabled = true;
    btnEmpate.disabled = true;
    btnRB.disabled = true;
}

document.getElementById("btn_santos").addEventListener("click", blockButtons);
document.getElementById("btn_empate").addEventListener("click", blockButtons);
document.getElementById("btn_rb_bragantino").addEventListener("click", blockButtons);
    </script>
</body>
</html>