<!DOCTYPE html> 
 <html lang="pt-br"> 
  
 <head> 
     <meta charset="UTF-8"> 
     <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <title>Recuperação de Senha</title> 
     <link rel="stylesheet" href="../static/css/recuperar.css">
 </head> 
  
 <body> 
    <div class="c-loader" id="c-loader"></div>

    <label for="email">Digite seu Email aqui</label> 
    <input type="email" name="email" id="email"> 
    <button type="button" class="clear" id="recover-password-button" onclick="recoverPassword()" >Recuperar senha</button>
</body> 
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>
<script src="../static/js/firebase-init.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/validations.js"></script>
<script src="../static/js/loading.js"></script>


 </html>