<!DOCTYPE html> 
 <html lang="en"> 
 <head> 
     <meta charset="UTF-8"> 
     <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <title>Login</title> 
     <link rel='stylesheet' href='../static/css/registro.css' /> 
 </head> 
 <body> 
 <a href=""></a> 
     <!--Formulário para login--> 
      
     <div class="box"> 
         
             <fieldset> 
                 <legend><b>Cadastro</b></legend> 
                 <br> 
                 <div class="inputBox"> 
                     <label for="name"><b>Nome</b></label> 
                     <input name="name" type="text" class="inputUser" id="name" required /><br /> 
                      
                 </div> 
                 <br> 
                 <div class="inputBox"> 
                     <label for="email"><b>E-mail</b></label> 
                     <input name="email" type="text" class="inputUser" id="email" required  /><br /> 
                 </div> 
                     <br> 
                     <div class="inputBox"> 
                         <label for="password"><b>Senha</b></label> 
                         <input name="password" type="password" class="inputUser" id="password" required /><br /> 
                     </div> 
                     <br> 
                     <div class="inputBox"> 
                         <label for="confirmpassword"><b>Confimar senha</b></label> 
                         <input name="confirmpassword" type="password" class="inputUser" id="confirmpassword" required /><br /> 
                     </div> 
                     <br> 
                     <button type="button" class="solid" disabled="true"
                     onclick="register()" id="register-button"/>enviar</button>
       
     </div>   
<script src="../static/js/firebase-init.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.18.0/firebase-compat.js"></script>

<script src="../static/js/loading.js"></script>

<script src="../static/js/validations.js"></script>

<script src="../static/js/register.js"></script>
 </body> 
 </html>